---
interface SortOption {
	label: string;
	value: string;
}

interface Props {
	sortOptions: SortOption[];
	name?: string;
	selectedSort?: string;
}

const { sortOptions, name = 'sort', selectedSort } = Astro.props;

const longestOptionLength = Math.max(...sortOptions.map((option) => option.label.length));
const selectWidth = `calc(${longestOptionLength}ch + 4rem)`;
---

<label class='form-control w-fit'>
	<select class='select select-bordered' name={name} style={`width: ${selectWidth}; min-width: ${selectWidth};`}>
		{
			sortOptions.map((option) => (
				<option value={option.value} selected={selectedSort === option.value}>
					{option.label}
				</option>
			))
		}
	</select>
</label>
