---
import ArtistListItem from '../components/artists/ArtistListItem.astro';
import Filter from '../components/filter.astro';
import TopNav from '../components/nav/TopNav.astro';
import SearchBar from '../components/nav/SearchBar.astro';
import Layout from '../layouts/Layout.astro';

const sortOptions = [
	{ label: 'Rating', value: 'rating' },
	{ label: 'Name', value: 'name' },
	{ label: 'Added', value: 'added' },
];

const artists = [
	{
		name: 'ArtistName',
		imageUrl: 'https://img.daisyui.com/images/profile/demo/1@94.webp',
		albumCount: 12,
		averageRating: 8.4,
	},
	{
		name: 'ArtistName',
		albumCount: 1,
		averageRating: 9,
	},
	{
		name: 'ArtistName',
		imageUrl: 'https://img.daisyui.com/images/profile/demo/1@94.webp',
		albumCount: 7,
		averageRating: 7.6,
	},
];
---

<Layout>
	<TopNav title='Artists' />
	<div class='row flex gap-2'>
		<SearchBar placeholder='search artists' />
		<Filter sortOptions={sortOptions} selectedSort='rating' />
	</div>

	<ul class='list bg-base-200 rounded-box mt-4 shadow-md'>
		{
			artists.map((artist) => (
				<ArtistListItem
					name={artist.name}
					imageUrl={artist.imageUrl}
					albumCount={artist.albumCount}
					averageRating={artist.averageRating}
				/>
			))
		}
	</ul>
</Layout>
