---
interface Props {
	name?: string;
	placeholder?: string;
	autocomplete?: string;
	match?: string;
	hint?: string;
}

const {
	name = 'password',
	placeholder = 'password',
	autocomplete = 'current-password',
	match,
	hint = 'Enter at least 4 characters',
} = Astro.props;
---

<div class='flex w-full flex-col gap-1'>
	<label class='input validator w-full'>
		<svg class='h-[1em] opacity-50' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'>
			<g stroke-linejoin='round' stroke-linecap='round' stroke-width='2.5' fill='none' stroke='currentColor'>
				<rect width='18' height='11' x='3' y='11' rx='2'></rect>
				<path d='M7 11V7a5 5 0 0 1 10 0v4'></path>
			</g>
		</svg>
		<input
			type='password'
			name={name}
			placeholder={placeholder}
			required
			minlength='4'
			autocomplete={autocomplete}
			data-match={match}
		/>
	</label>
	<div class='validator-hint hidden w-full'>{hint}</div>
</div>
