---
interface SortOption {
	label: string;
	value: string;
}

interface Props {
	sortOptions: SortOption[];
	name?: string;
	selectedSort?: string;
}

const { sortOptions, name = 'sort', selectedSort } = Astro.props;

const longestOptionLength = Math.max(...sortOptions.map((option) => option.label.length));
const selectWidth = `calc(${longestOptionLength}ch + 4rem)`;
---

<div class='join'>
	<select
		class='select select-bordered select-secondary join-item text-secondary'
		name={name}
		style={`width: ${selectWidth}; min-width: ${selectWidth};`}
	>
		{
			sortOptions.map((option) => (
				<option value={option.value} selected={selectedSort === option.value}>
					{option.label}
				</option>
			))
		}
	</select>
	<label class='join-item btn btn-square btn-outline btn-secondary swap swap-rotate shrink-0'>
		<input type='checkbox' data-reverse-sort />

		<span class='swap-on'>↑</span>
		<span class='swap-off'>↓</span>
	</label>
</div>
